.btn-google {
  background-color: #fff;
  border: 1px solid var(--gray-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.6rem;
  margin-block: 1.8rem;
  border-radius: 100px;
  font-weight: 600;
}

.g-icon {
  height: 1.5rem;
  width: auto;
}
