.login-header {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 2rem;
}

.logo {
  height: 1.85rem;
  width: auto;
}

.text-box p {
  font-size: var(--font-small);
  color: var(--gray-focus);
  margin-top: 0.4rem;
}
