// Media query breakpoints
$bp-desk-lg: 100em;
$bp-tab--land: 75em;
$bp-tab--port: 61.25em;
$bp-tab--sm: 50em;
$bp-phone: 42.5em;

/* Custom Properties */
:root {
  /* Colors */
  --gray-primary: #bbb;
  --gray-focus: #888;
  /* Font Size */
  --font-small: 0.85rem;
}

@import "./base";

@import "./components/mainImage/mainImage";

@import "./components/dialog/dialog";

@import "./components/LoginContainer/loginContainer";
@import "./components/LoginContainer/googleAuth/googleAuth";
@import "./components/LoginContainer/form/loginForm";
@import "./components/LoginContainer/loginFooter/loginFooter";
@import "./components/LoginContainer/loginHeader/loginHeader";
@import "./components/LoginContainer/separatorText/separatorText";

@import "./pages/Login/loginPage";
@import "./pages/User/userPage";
